extends dashboard

block content


  
          
  .container-fluid

    .row
      
      .col-md
        div
          table#visitorTable.table.table-hover.table-striped.text-nowrap(cellspacing="0" width="100%")
              thead
                th Arrival Time
                th Departure Time
                th Worker
                th Arrival iPad In
                th Departure Out                
                
          
              tbody
      
  script(src='/javascripts/Dashboard/viewTW.js')
