extends dashboard

block content


  .row.container-fluid
    .col.h3
      #pageTitle
    .col-align-end.h3
      #listCount

  

    
          
  .container-fluid
    .chart-container
      canvas#myChart   
    .row
      .col-md
        div
          table#visitorTable.table.table-hover.table-striped.text-nowrap(cellspacing="0" width="100%")
              thead
                th.th-sm
                  i.fas.fa-plus
                th  Date

                th Facilitator
                th Session Type
                th Start Location
                th # Participants
                th iPad
          
              tbody
      
  script(src='/javascripts/Dashboard/viewTheSession.js')
