extends dashboard

block content


  
          
  .container-fluid
    .row
      .col-8
        .chart-container
          p.text-center(style="margin-block: 0px; margin-bottom: 0px;") # of Participants
          canvas#dateChart  
      .col-2
        .chart-container
          p.text-center(style="margin-block: 0px; margin-bottom: 0px;;") Reason for Visit
          canvas#rfvChart 
          br
        .chart-container
          p.text-center(style="margin-block: 0px; margin-bottom: 0px;;") First Time
          canvas#ftChart 
      .col-2
        .chart-container
          p.text-center(style="margin-block: 0px; margin-bottom: 0px;;") # session run by
          canvas#fChart   

        .chart-container
          p.text-center(style="margin-block: 0px; margin-bottom: 0px;;") Average &nbsp
            i.fas.fa-user.fa-.5x
            | /session per Facilitator
          canvas#fanChart   
    .row
      
      .col-md
        div
          table#visitorTable.table.table-hover.table-striped.text-nowrap(cellspacing="0" width="100%")
              thead
                th.th-sm
                  i.fas.fa-plus
                th  Date

                th Facilitator
                th Session Type
                th Start Location
                th # Participants
                th iPad
          
              tbody
      
  script(src='/javascripts/Dashboard/viewWBS.js')
