extends dashboard

block content
  script(src='/javascripts/Dashboard/viewStaff.js')


  .container
    .row
      .col-md-6
        .h2 All Staff
      .col
        |  
      .col
        button#staffModal.btn.btn-outline-primary(type='button', data-toggle='modal', data-target='#addStaffModal')
          i.fas.fa-user-plus 
          |   Staff



    table#StaffMembersTable.table.table-hover
      thead
        tr
          td Edit
          td Active
          td Super
          td Staff Member
          td Pin
          td Teams
          td Access Rights

      tbody#StaffMembersTableBody

    br





    // Modal
    #addStaffModal.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='addStaffModalCenterTitle', aria-hidden='true')
      .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
          form#newStaff.needs-validation(novalidate='')
            .modal-header
              h5#addStaffModalLongTitle.modal-title Add Staff Member
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              h5 Details
              .form-row
                .col
                  .input-group
                    .input-group-prepend
                      span#firstName.input-group-text.input-group-addon.primary  Name
                    input#firstNameInput.input-group-outline-addon.primary.form-control(type='text', placeholder='First', aria-label='First', aria-describedby='firstName',required='')
                    input#lastNameInput.input-group-outline-addon.primary.form-control(type='text', placeholder='Last', aria-label='Last', aria-describedby='lastName',required='')
              p
              .form-row
                .col-4
                  .input-group
                    .input-group-prepend
                      span#pin.input-group-text.input-group-addon.primary Pin
                    input#pinInput.col-6.input-group-outline-addon.primary.form-control(type='password', placeholder='4 digits only', aria-label='Pin', aria-describedby='Pin',required='')

                .col-4
                  .input-group
                    .input-group-prepend
                      .input-group-text
                        input#superAdmin(type='checkbox', aria-label='Checkbox for Super Admin')
                    .input-group-append
                      .input-group-text
                        span#superAdminLabel.input-group-addon.primary Super Admin
  
                .col-4
                  .input-group
                    .input-group-prepend
                      .input-group-text
                        input#activeStaff(type='checkbox', aria-label='Checkbox for Super Admin', checked='true')
                    .input-group-append
                      .input-group-text
                        span#activeStaffLabel.input-group-addon.primary Active Staff Member
                      
              p
              hr
              h5 Teams

              #TeamList
              p
              hr              
              h5 Form Access

              .form-row
                .input-group.col
                  .input-group-prepend
                    .input-group-text
                      input#visitorFormAccess(type='checkbox', aria-label='Checkbox for Visitor Access')
                  span#visitorFormAccessLabel.input-group-text.input-group-addon.primary Visitor Form
              
                .input-group.col
                  .input-group-prepend
                    .input-group-text
                      input#nonClimbingChildAccess(type='checkbox', aria-label='Checkbox for Visitor Access')
                  span#nonClimbingChildAccessLabel.input-group-text.input-group-addon.primary Non Climbing Child Forms
            
              .form-row
                .input-group.col
                  .input-group-prepend
                    .input-group-text
                      input#wbsAccess(type='checkbox', aria-label='Checkbox for Womens Bouldering Social Access')
                  span#wbsAccessLabel.input-group-text.input-group-addon.primary Womens Bouldering Social Forms
                              
                .input-group.col
                  .input-group-prepend
                    .input-group-text
                      input#theSessionAccess(type='checkbox', aria-label='Checkbox for The Session Access')
                  span#theSessionAccessLabel.input-group-text.input-group-addon.primary The Session Forms

              .form-row
                .input-group.col
                  .input-group-prepend
                    .input-group-text
                      input#thamesWaterAccess(type='checkbox', aria-label='Checkbox for Thames Water Access')
                  span#thamesWaterAccessLabel.input-group-text.input-group-addon.primary Thames Water Forms
                              
                .input-group.col
                  .input-group-prepend
                    .input-group-text
                      input#gardenerAndMiniPlotterAccess(type='checkbox', aria-label='Checkbox for Gardener And Mini Plotter Access ')
                  span#gardenerAndMiniPlotterAccessLabel.input-group-text.input-group-addon.primary Gardener And Mini Plotter Forms


            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit', onClick='addStaff()') Save changes
  //- 
