extends layout
include GDPR

block content
	script(src='/javascripts/feedback.js')



	#feedbackFrom.container-fluid
		.form-group
			p
			| If you wish to remain annoymous, feel free to not enter your name.
			#nameField.md-form.input-group
				.input-group-prepend
					span.input-group-text.md-addon Your Name
				input#nameField.form-control(type='text' class='text-capitalize' placeholder='')

			p
			| By providing your email address or telephone number we will be able to contact you. If you would like a response, please select 'Contact Me'.
			#contactField.md-form.input-group
				.input-group-prepend
					span.input-group-text.md-addon Contact Details
				input#contactPhone.form-control(type='tel' class='text-capitalize' placeholder='Phone Number')
				input#contactEmail.form-control(type='email' class='text-capitalize' placeholder='e-mail address')

				.input-group-append
					.input-group-text
					.input-group-text.custom-control.custom-checkbox		
						input#contactMe.big-checkbox.custom-control-input(type='checkbox', name='contactMe', value='Contact Me')
						label.custom-control-label(for='contactMe') Contact Me




		p
		| Which department do you wish to feedback on:
		.dept.card-deck
			#Cafe.dept.card
				#Cafe.dept.card-body
					#Cafe.dept.text-center
						#Cafe.dept.i.fas.dept.fa-coffee.fa-3x
						#Cafe.dept.h6 Cafe

			#Climbing.dept.card
				#Climbing.dept.card-body
					#Climbing.dept.text-center
						#Climbing.dept.i.fas.fa-hand-rock.fa-3x
						#Climbing.h6 Climbing

			#Facilities.dept.card
				#Facilities.dept.card-body
					#Facilities.dept.text-center
						#Facilities.dept.i.fas.fa-toilet.fa-3x
						#Facilities.dept.h6 Facilities


			#Garden.dept.card
				#Garden.dept.card-body
					#Garden.dept.text-center
						#Garden.dept.i.fas.fa-tree.fa-3x
						#Garden.dept.h6 Garden

			#General.dept.card
				#General.dept.card-body
					#General.dept.text-center
						#General.dept.i.fas.fa-chess-rook.fa-3x
						#General.dept.h6 General
		
			#Shop.dept.card
				#Shop.dept.card-body
					#Shop.dept.text-center
						#Shop.dept.i.fas.fa-tags.fa-3x
						#Shop.dept.h6 Shop
						
			#Staff.dept.card
				#Staff.dept.card-body
					#Staff.dept.text-center
						#Staff.dept.i.fas.fa-user.fa-3x
						#Staff.dept.h6 Staff

		p
		#ClimbingFields.md-form.input-group(style='display: none;')
			input#routeLine.form-control(type='text',  placeholder='Line Number / Boulder Area')
			input#routeGrade.form-control(type='text',  placeholder="The Climb's Grade")
			input#routeColour.form-control(type='text',  placeholder="The Colour")
			input#routeSetter.form-control(type='text',  placeholder="The Setter")
		
		p
		#StaffFields.md-form.input-group(style='display: none;')
			.input-group-prepend
				span.input-group-text.md-addon Please tell us which department this staff member works in?
			input#StaffDepartment.form-control(type='text',  placeholder='Department')

		
		p
		| Your Feedback:
		#feedback.md-form.input-group
			textarea#feedback.form-control(type='text')


	
		p
		| How was your experience?				
		.card-deck
			#ReallySad.feels.card
				#General.feels.card-body
					#ReallySad.feels.text-center
						#ReallySad.feels.i.fas.fa-sad-tear.fa-3x

			#Sad.feels.card
				#Sad.feels.card-body
					#Sad.feels.text-center
						#Sad.feels.i.fas.fa-frown.fa-3x


			#OK.feels.card
				#OK.feels.card-body
					#OK.text-center
						#OK.i.fas.fa-meh.fa-3x


			#Happy.feels.card
				#Happy.feels.card-body
					#Happy.text-center
						#Happy.i.fas.fa-smile.fa-3x


			#ReallyHappy.feels.card
				#ReallyHappy.feels.card-body
					#ReallyHappy.text-center
						#ReallyHappy.i.fas.fa-smile-beam.fa-3x
		p
		.container-fluid
			.row
				.col-12
					h4 We take your privacy seriously please visit our website for more information, or <a href="https://www.castle-climbing.co.uk/Privacy-Notice">Click Here</a> .
					BR
				.col-8

					h4 Thank you for your feedback.
				.col-2
					a#cancel.btn.btn-danger(href="#",  data-target='#AreYouSure') Cancel
				.col-2
					button#submit.btn.btn-success(type='submit') Submit 
		p
	#thankyouModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='welcome', aria-hidden='true')
		.modal-dialog
			.modal-content
					

				.modal-body.love-ya
					h1.text-center Thank You
					h3.text-center Your feedback is important to us. 
					hr

				.modal-footer
					.row
						.col-auto
							img(src='logo.png', alt='')
						.col-auto
							a.btn.btn-primary.btn-large.submit-btn(href='#', data-dismiss='modal', aria-label='Close') Close
							
								
	#welcomeModal.modal.fade.AreYouSure(tabindex='-1', role='dialog', aria-labelledby='welcome', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					.row
						.col
							.text-center.i.fas.fa-comments.fa-3x
						.col.align-right
							

				.modal-body.love-ya
					h1.text-center Your feedback, comments and suggestions are important to us. 
					hr
					h1.text-center We would like to here from you.
				.modal-footer
					.row
						.col-auto
							img(src='logo.png', alt='')
						.col-auto
							a.btn.btn-primary.btn-large.submit-btn(href='#', data-dismiss='modal', aria-label='Close') Lets Go!
