footer

  //GDPR
  #GDPR
    .col-12 <b> DATA Protection – </b> Your privacy is important to us and we will only use data in accordance with current data protection law. Our Privacy Notice is available on our website https://www.castle-climbing.co.uk/data-privacy This explains our data processing practices and how it relates to you.
      
