extends layout

block content
	script(src='/javascripts/gardenVolunteer.js')
	
	br
	// VISITOR LIST
	.col
		.visitor-list
			.row
				.col
					h2 Gardeners in: <span id='ListCount'></span>
				.col
				.col.text-right
					// Button to Open the Modal
					button.btn.btn-primary(type='button', data-toggle='modal', data-target='#addPerson')
						| Add Me		
			#visitorList
				table.table.table-striped.table-hover
						thead
							th Name
							th Reason
							th Time In
							th Time Out
						tbody
			
	
		// The Modal
		#addPerson.modal
			.modal-dialog
				.modal-content
					// Modal Header
					.modal-header
						h4.modal-title.fas.fa-user-plus
						button.close(type='button', data-dismiss='modal') ×
					// Modal body
					.modal-body
											
						.form-group
							label.col.form-check-label(for='VolunteerChoice') I am here:
							.btn-group.col.btn-group-toggle(data-toggle='buttons')
								.col-6.label.btn.btn-outline-secondary
									input#VolunteerChoice(type='radio', value='Volunteer', autocomplete='off', checked='')
									| as a Garden Volunteer
								.col-6.label.btn.btn-outline-secondary
									input#miniPlotsChoice(type='radio', value='Mini Plotter', autocomplete='off')
									| for a Mini Plot	
								

										
						
						.col
							.form-group
								#nameField.input-group
									.input-group-prepend
										span.input-group-text Name:
									input#volunteerName.form-control(type='text')
										
						.col
							#Disclaimer
								.disclaimer-text
									p <b> I will not climb in the centre unless I have registered and signed in to do so.</b>
									p I have read and understood The Castle Garden Risk Assessment & the Castle Garden Work Checklist, and agree to follow the recommendations in these documents.
									p I will be responsible for my own safety whilst working in the Castle Garden and point out any safety issues to the garden co-ordinator.
									p
					
						.col						
							label.requiredField(for='disclaimer') <b> I have read and agree to the above conditions*: </b>
							input#disclaimer.offset-1.big-checkbox.checkbox-inline(type='checkbox', name='disclaimer', disabled='true' value='Agreed')


										
									

					// Modal footer
					.modal-footer
						button#submit.btn.btn-danger(type='submit', data-dismiss='modal', disabled='true') Submit
	
	
		
	
		


			
