extends layout

block content
	script(src='/javascripts/gardenVolunteer.js')
	
	br
	// VISITOR LIST
	.col
		.visitor-list
			.row
				.col
					h2 Gardeners in: <span id='ListCount'></span>
				.col
				.col.text-right
					// Button to Open the Modal
					button.btn.btn-primary(type='button', data-toggle='modal', data-target='#addPerson')
						| Add Me		
			#visitorList
				table.table.table-striped.table-hover
						thead
							th Name
							th Reason
							th Time In
							th Time Out
						tbody
			
	
		// The Modal
		#addPerson.modal
			.modal-dialog
				.modal-content
					// Modal Header
					.modal-header
						h2.modal-title.fas.fa-user-plus.fa-2x
						| &nbsp &nbsp Clock In
						button.close(type='button', data-dismiss='modal') ×
					// Modal body
					.modal-body
			
						label.col-form-label(for='VolunteerChoice') I am here as a
						br
						.col.btn-group.btn-group-toggle(data-toggle='buttons')
							.col-6.label.btn.btn-outline-success Garden Volunteer
								input#VolunteerChoice(type='radio', value='Volunteer', autocomplete='off', checked='')

							.col-6.label.btn.btn-outline-success Mini Plotter
								input#miniPlotsChoice(type='radio', value='Mini Plotter', autocomplete='off')


						.form-group
							label.col-form-label(for='inputDefault') Name
							.col
								input#volunteerName.form-control(type='text', placeholder='Full name')

				



							
										

						.disclaimer-text
							hr
							h3 <b>Important information </b>
							label.col-form-label I will not climb in the centre unless I have registered and signed in to do so.
							label.col-form-label I will be responsible for my own safety whilst working in the Castle Garden and point out any safety issues to the garden co-ordinator.
							p

						hr
						.form-group
							.custom-control.custom-checkbox
								input#disclaimer.custom-control-input(type='checkbox', name='disclaimer', disabled='true', value='Agreed')
								label.custom-control-label.requiredField(for='disclaimer') <h6>I have read and agree to the above conditions</h6>				
								
							

					// Modal footer
					.modal-footer
						button#submit.btn.btn-danger(type='submit', data-dismiss='modal', disabled='true') Submit
	
	
		
	
		


			
