block GDPR

#dataProtection.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				h4.modal-title Your Personal Information & How We Use It
			
			.modal-body
				p Your privacy is important to us at The Castle and we will only use your personal information to set-up & administer your membership, provide & improve the services you request from us and (if you agree) provide news/updates regarding events and service that may be of interest to you.
				p	Your information will only be shared with other organisations if it is necessary to do so in order to provide the services requested, comply with a legal obligation to which we are subject, or where there is a vital interest in doing so (e.g. if you suffer a medical emergency while climbing here) or some other legitimate interest. We will not share your information for marketing purposes outside of the Castle.
				p For further information please see: https://www.castle-climbing.co.uk/privacy-notice or if you have any questions please email dpo@castle-climbing.co.uk
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close
