extends layout
include GDPR

block content
	script(src='/javascripts/login.js')
	
	h2.w3-text-blue Welcome to XYZ......
	#mainDiv
		#regDiv
			button#regBtn.w3-btn.w3-blue New User Register
			p
		#loginDiv
			button#loginBtn.w3-btn.w3-blue Login
			p
		#dataDiv

	
	
	
