extends layout

append body  
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/index.js') 

  center
    .forms Please select which form you require:

    .forms
    a.button.btn.btn-primary.btn-block(href='/visitor') General Visitor
      
    a.button.btn.btn-primary.btn-block(href='/#') Garden Volenteer
    
    a.button.btn.btn-primary.btn-block(href='/#') Geckos Club
    
    a.button.btn.btn-primary.btn-block(href='/#') Dry Tooling Waiver
    
    a.button.btn.btn-primary.btn-block(href='/#') Women With Attitude 
    
    a.button.btn.btn-primary.btn-block(href='/#') The Session
