extends layout

block content  
  style.
      body {background:none;}
      body {background-color: black;}
      
      h1   {color: white;}

  //- script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/homepage.js') 

  
  #theTimeIs
  br
  #formList
  .row
    .col
    img.col(src='logo.svg', width='10%', alt='')
    .col
