doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    append styles
      
      link(rel='stylesheet', href='/chart.js/dist/Chart.min.css')
      link(id="pagestyle", rel='stylesheet', href='/stylesheets/ArchitectUI.css')
      //- link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
      link(rel="stylesheet" type="text/css" href="daterangepicker/daterangepicker.css")
      link(rel='stylesheet', href='/easy-autocomplete/dist/easy-autocomplete.min.css')
      //- link(id="customstyle", rel='stylesheet', href='/stylesheets/lightStyle.css')



      script(src='/moment/min/moment.min.js')

      script(src='/chart.js/dist/Chart.min.js')
      script(src='/jquery/dist/jquery.min.js')
      //- script(src='/popper/umd/popper.min.js')
      //- script(src='/tooltip/umd/tooltip.min.js')
      script(src='/fontawesome/js/all.js')
      script(src='/bootstrap/dist/js/bootstrap.bundle.min.js')
      script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')

      //- script(src='/tempus/build/js/tempusdominus-bootstrap-4.min.js')

      //- script(src="/daterangepicker/daterangepicker.js")
      script(scr='/javascripts/jquery.tabletoCSV.js')
      script(src='/javascripts/global.js')

body
  // Image and text
  //- .row
  //-   .container-fluid
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#')
      img#styleSheet.d-inline-block.align-centre(src='logo.svg', height='30', alt='',onClick=('switchStyle();'))
    #navbarText.collapse.navbar-collapse
      span.navbar-text Castle Climbing Centre
      .navbar-nav.mr-auto
        span.navbar-text
          #DateTime
      .navbar-text.kiosk
        #kioskIdValue
    .navbar-text #{title}
    a.btn.btn-default.pull-right(href='/', title='Home')
      h3.i.fas.fa-home.fa-2x


      //-
      //-
      //- .col-auto
      //-   .text-left
      //-     a.navbar-brand(href="#", data-toggle='modal', data-target='#AreYouSure')
      //-       img.d-inline-block.align-centre(src='logo.png', alt='')
      //-       | Castle Climbing Centre
      //-
      //-     #DateTime
      //- .col.text-centre
      //-   .navbar-text
      //-     #kioskIdValue
      //- .col.text-right
      //-   .navbar-text #{title}
      //- .col-auto
      //-   .navbar-text
      //- .col.text-right
        //- a#GoHome.navbar-brand.fa.fa-home(href="#", data-toggle='modal', data-target='#AreYouSure')

      //Return Home Modal
  #AreYouSure.modal.fade.AreYouSure(tabindex='-1', role='dialog', aria-labelledby='AreYouSure', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5 Are you sure you want to go back?
        .modal-body
          p The information you have entered will be lost.
        .modal-footer
          a.btn.btn-danger.btn-xl.submit-btn(href='/') Yes
          a.btn.btn-success.btn-xl.submit-btn(href='#', data-dismiss='modal', aria-label='Close') No
  //-
  //-
  //Header
  .header.col-12
  #failAlert
  //-
  //- // Button trigger modal
  //- button.btn.btn-primary(type='button', data-toggle='modal', data-target='#SuccessModal')
  //-   | Launch demo modal
  // Modal
  #SuccessModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Successful form creation', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#Title.modal-title Success
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          #TheText
  //-
  //-
  //-
  include GDPR



  block content
