extends ../node_modules/pug-bootstrap/_bootstrap.pug

append styles
	// Custom styles for this template
	link(href='/stylesheets/style.css', rel='stylesheet')


block body
	nav.navbar.navbar-inverse
		.container-fluid
			.navbar-header
				a.navbar-logo(href='/')
					img(alt='Castle Climbing Centre', #navimg, src='/favicon.ico')
				.navbar-brand Castle Climbing Centre Visitor Form
	//- .navbar
	//- +navbar-fixed( title,"navbar","inverse")
	

	append body
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')


		
