extends layout
//- include GDPR

block content

	script(src='/javascripts/sonos.js')



	#alerts

	body
	.container-fluid
		p
		.row
			button.col-2.btn.btn-info(type='button', data-toggle='collapse', data-target='#multiCollapse1', aria-expanded='false', aria-controls='multiCollapse1') Volume Controls
			.col-1
			button.col-2.btn.btn-info(type='button', data-toggle='collapse', data-target='#multiCollapse2', aria-expanded='false', aria-controls='multiCollapse2') Announcements
			.col-1
			button.col-2.btn.btn-info(type='button', data-toggle='collapse', data-target='#multiCollapse3', aria-expanded='false', aria-controls='multiCollapse3') Other Controls
			.col-1
			button.col-2.btn.btn-info(type='button', data-toggle='collapse', data-target='.multi-collapse', aria-expanded='false', aria-controls='multiCollapseE1 multiCollapse2') All Global Controls
	
	
	p
	.row
		.col-4
			#multiCollapse1.collapse.multi-collapse
				.card.card-body
					p.text-center Lock players at current levels
					.btn-group.btn-group-toggle(data-toggle='buttons')
						.label.btn#btnLockVolume.btn-outline-secondary.col
							input#lockVolume.col-1(type='radio', value='lockVolume', autocomplete='off')
							h2 <i class="fas fa-lock"></i>
						.label.btn#btnUnlockVolume.btn-outline-secondary.col
							input#unlockVolume.col-1(type='radio', value='unlockVolume', autocomplete='off', checked='true')
							h2 <i class="fas fa-lock-open"></i>

		.col-4
			#multiCollapse2.collapse.multi-collapse
				.card.card-body
					button#Annocement.btn.btn-danger(type='button',data-toggle="modal", data-target="#AnnocementModal") Annocement <i class="fas fa-microphone-alt"></i>
					br
					button#speak.btn.btn-warning(type='button',data-toggle="modal", data-target="#TTSmodal") Text to Speech <i class="fas fa-comment-dots"></i>
	
		
		.col-4
			#multiCollapse3.collapse.multi-collapse
				.card.card-body
					button#defaultsPlayerGroups.btn.btn-success(type='button',data-toggle="modal", data-target="UseDefaultGroups()") Set Default Groups
					br
					button#playerClosingTime.btn.btn-primary(type='button',data-toggle="modal", data-target="PlayClosingTime()") Play Closing Time	
		

	br
	#cardInsert
				
	.modal#levelModal
		.modal-dialog
			.modal-content
				// Modal Header
				.modal-header
					#roomName
					button.close(type='button', data-dismiss='modal') ×
				// Modal body
				.modal-body
					#currentVolume
					p
					form
						.input-group.mb-3
							.input-group-prepend
								span.input-group-text Change current volume to:
							input#NewCurrentLevel.form-control(type='number', placeholder='')
							.input-group-append
								button#setCurLevel.btn.btn-success(type='button') Set
					br
					p
					#maxVolume
					p
					form
						.input-group.mb-3
							.input-group-prepend
								span.input-group-text Set the maximum volume to:
							input#NewMaxLevel.form-control(type='number', placeholder='0-100')
							.input-group-append
								button#setMaxLevel.btn.btn-danger(type='button') Set
					
					
				// Modal footer
				.modal-footer
					button#close.btn.btn-danger(type='button', data-dismiss='modal') Close
					
	.modal#successModal
		.modal-dialog
			.modal-content
				// Modal Header
				.modal-header
					h4.modal-title Sonos Volume Levels 
					button.close(type='button', data-dismiss='modal') ×
				// Modal body
				.modal-body
					#successfeedback
	
				// Modal footer
				.modal-footer
					button.btn.btn-danger(type='button', data-dismiss='modal') Close	
					
	.modal#TTSresponce
		.modal-dialog
			.modal-content
				// Modal Header
				.modal-header
					h4.modal-title Text to Speech 
				// Modal body
				.modal-body
					#TTSsuccessfeedback
				
				// Modal footer
				.modal-footer
					button#RepeatTTS.btn.btn-primary(type='button', data-toggle="modal", data-target="#TTSmodal", data-dismiss='modal') Yes
					button#CloseTTS.btn.btn-danger(type='button', data-dismiss='modal') No	
						
	//- 
	.modal.fade#TTSmodal
		.modal-dialog
			.modal-content
				.modal-Header
					h4.modal-title Text to Speech
				.modal-body
					.form-group
						label(for='speech') What do you want to say:
						textarea#speech.form-control(rows='5',default='')
				.modal-footer
					button#SPEEK.btn.btn-warning(type='button') SPEAK MY CHILD
					button.btn.btn-danger(type='button', data-dismiss='modal') Close
					
	.modal.fade#AnnocementModal
		.modal-dialog
			.modal-content
				.modal-Header
					h4.modal-title Make an Annocement
				.modal-body
						p Press start when you are ready to speak,<br> Stop will switch back to the music.
						br
						button#Start.btn.btn-lg.btn-warning.float-left(type='button', onclick='something()') Start <i class="fas fa-play"></i>
						button#Stop.btn.btn-lg.btn-success.float-right(type='button',onclick='something()') Stop <i class="fas fa-stop"></i>
						
				.modal-footer
					button.btn.btn-danger(type='button', data-dismiss='modal') Close
