extends layout

block content
	script(src='/javascripts/theSession.js')
	
	br
	// Button Facilitator modal
	.container-fluid
		.row
			.col-11
				//Session INFORMATION
				#showSession
			.col-1.text-right
				button#openFacilitatorModal.btn.btn-light(type='button', data-toggle='modal', data-target='#facilitatorModal')
					i.far.fa-edit  Info
	.col
		li <strong>Participants of The Session must be registered roped climbers</strong> and therefore confident putting on a harness correctly, tying in with the correct knot and belaying competently.
		li Those registered as bouldering only members may attend the wednesday night mixed bouldering session.
		li <strong>The Session is not suitable for novice climbers.</strong> If you’re not sure about which session you can join, please ask a receptionist who will be happy to help you.
		li <u> This is not a teaching or coaching session; nor is it supervised. </u>
		li Participants are still responsible for their own safety. It is up to each participant to decide for themselves who they wish to climb with.
		li If you have any questions or concerns please speak to the facilitator or reception so that they can assist you.

	
	//Participants		
	form#ShowParticipants.container-fluid(name="addFacilitator", method="post", onlcick="SaveParticipants()")
		#ShowParticipants
			


	// Modal
	#facilitatorModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='facilitatorModalCenterTitle', aria-hidden='true')
		.modal-dialog
			.modal-content
				// Modal Header
				.modal-header
					h4.modal-title.i.far.fa-edit  Session Info
					button.close(type='button', data-dismiss='modal') ×
				// Modal body
				.modal-body
		
					.col
						.form-group
							#facilitatorField.input-group
								.input-group-prepend
									span.input-group-text Facilitator:
								input#facilitatorName.form-control(type='text')
					.form-group
						label.col.form-check-label(for='SessionClimbingType') Session Type:
						.btn-group.col.btn-group-toggle(data-toggle='buttons')
							.col-6#BSess.label.btn.btn-outline-secondary.active
								input#BoulderingSession(type='radio', value='bouldering', autocomplete='off', checked='', disabled='true')
								| Bouldering
							.col-6#TSess.label.btn.btn-outline-secondary
								input#TopRopeSession(type='radio', value='top roping', autocomplete='off', disabled='true')
								| Top Roping
			
					
									
					.col-12
						.form-group
							label(for='startOptions') Session Starting Location:
							#startOptions.list-group(role='tablist')
								
									
		

				// Modal footer
				.modal-footer
					button#facilitatorSubmit.btn.btn-danger(type='submit', data-dismiss='modal', disabled='true') Submit


			
