extends layout

block content 
  script(src='/javascripts/visitor.js')
  
  #successAlert    
  #Disclaimer.container-fluid
    .disclaimer-text
      .col
        <p>
        text-left.h4 For the safe enjoyment of our facilities for all users, please read our conditions below before signing in:
        <p>
        ul.text-left
          li <b> Climbing is a dangerous activity. </b>
          li <b> You, and any children you are supervising, may NOT climb on this visit to the centre. </b>
          li <b> DO NOT stand in the climbing areas or distract climbers/belayers. </b>
          li <b> Children must be supervised at all times. </b>
          ul.text-left
            li They must remain with you at all times and may NOT climb anywhere within in the centre or the garden.
            li They must NOT go on the soft matting – these areas are landing zones for climbers.
            li You are responsible for the safety of children under your supervision.
          li <b>Unauthorised photography is not permitted</b> - please speak to a Duty Manager if you’d like to take photos.
            <p>
  
  form#addVisitor.needs-validation.container-fluid(novalidate='', name="addVisitor")

    // Visitors Name
    .form-group.row
      label.col-lg-2.col-sm-12.col-form-label(for='firstName') Your name
      .col-lg-4.col-sm-6
        input#firstName.form-control(type='text', name='firstName', placeholder='first name', required='')
        .invalid-feedback
          | Please enter your fist name
      .col-lg-4.col-sm-6
        input#lastName.form-control(type='text', name='lastName', placeholder='last name', required='')
        .invalid-feedback
          | Please enter your last name


    // Supervising Children
    .form-group.row
        label.col-lg-4.col-md-6.col-sm-10.form-check-label.text-right(for='supervisingChild') Are you supervising children? (Maximum of 2 per adult)
        .btn-group.col-2.btn-group-toggle(data-toggle='buttons')
          label.btn.btn-outline-primary.active
            input#supervisingChildNo(type='radio', name='supervisingChild', autocomplete='off', checked='')
            |  No
          label.btn.btn-outline-primary
            input#supervisingChildYes(type='radio', name='supervisingChild', autocomplete='off')
            |  Yes
            
    // Visitors Name
    .form-group.row
      label#Kids.col-lg-2.col-sm-12.col-form-label(for='ChildNames', style='display: none;') Their names
      .col-lg-4.col-sm-6
        input#Kid1.form-control(type='text' name='Child1' placeholder='Child 1', style='display: none;')
        .invalid-feedback
          | Please enter your their name
      .col-lg-4.col-sm-6
        input#Kid2.form-control(type='text' name='Child2' placeholder='Child 2', style='display: none;')      


    //Reason for Visit
    .form-group.row
      label.col-lg-2.col-sm-12.col-form-label(for='reasonForVisit') Reason for visit
      .col-lg-8.col-sm-12
        select#reasonForVisit.select.form-control.input-lg(name='reasonForVisit' required='')
          option.dropdown-menu(value='Please Select', disabled='')
          option.dropdown-menu(value='Cafe') Cafe
          option.dropdown-menu(value='Shop')  Shop
          option.dropdown-menu(value='Garden')  Garden
          option.dropdown-menu(value='----------', disabled='') ----------    
          option.dropdown-menu(value='Castle Climbing')  Castle Climbing Club
          option.dropdown-menu(value='Geckos')  Geckos
          option.dropdown-menu(value='----------', disabled='') ----------      
          option.dropdown-menu(value='Choir') Choir
          option.dropdown-menu(value='Climbers Clinic') Climbers Clinic
          option.dropdown-menu(value='External Course Provider')  External Course Provider
          option.dropdown-menu(value='Yoga') Yoga
          option.dropdown-menu(value='----------', disabled='') ----------
          option.dropdown-menu(value='Accompanying a person on course') Accompanying a person booked onto a course
          option.dropdown-menu(value='Passing By')  Passing By
          option.dropdown-menu(value='Photography')  Photography
          option.dropdown-menu(value='Staff Member')  Visiting a staff member
          option.dropdown-menu(value='----------', disabled='') ----------            
          option.dropdown-menu(value='Contractor')  Contractor
          option.dropdown-menu(value='----------', disabled='') ----------                 
          option(value='Other')  Other
        .invalid-feedback
          | Please select an option


    .form-group.row
      label#otherReason.col-lg-2.col-sm-12.col-form-label(for='otherReason', style='display: none;') Please State Other Reason
      .col-lg-8.col-sm-12
        input#otherReason.form-control(type='text', name='otherReason', style='display: none;')
        .invalid-feedback
          | Please the require information
      
    // Supervising Children
    .form-group.row
        label.col-lg-4.col-md-6.col-sm-10.form-check-label.text-right(for='supervisingChild')  I intend to take photos while in the centre
        .btn-group.col-2.btn-group-toggle(data-toggle='buttons')
          button#photographyWaiverNo.btn.btn-outline-primary.active(type='button', name='photographyWaiver', autocomplete='off', checked='') No
          button#photographyWaiverYes.btn.btn-outline-primary(type='button', name='photographyWaiver', autocomplete='off') Yes
  


        
    // Disclaimer
    .form-group.row
      label.col-lg-4.col-md-6.col-sm-10.custom-control-label.text-right(for='disclaimer') I have read and agree to the above conditions
      .col-2
        button#disclaimer.container.btn.btn-outline-primary(type='button', data-toggle='modal', data-target='#disclaimerModal', required='') I Agree

    .form-group.row.container-fluid
      .col.align-self-end
      a#cancel.btn.btn-danger(href="#", data-toggle='modal', data-target='#AreYouSure') Cancel
      .col-1
      button#submit.btn.btn-success(data-toggle='modal',type='submit', style='display: none;') Submit - Staff Only 
      .col-1
  // The Modal
  #photographyWaiverModal.modal
      .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title Photography Waiver
            button#photographyWaiverCross.close(type='button', data-dismiss='modal') ×
          // Modal body
          .modal-body
            p I understand that The Castle is a private building and I need to seek permission from management in order to photograph inside.
            p I will not use the photographs taken for commercial use without written consent from The Castle management.
            p I will not photograph any adults without their permission.
            p I will not photograph any children without the consent of the child’s parent or guardian.

          // Modal footer
          .modal-footer
            button#photographyWaiverAgreement.btn.btn-danger(type='button', data-dismiss='modal') I Agree
              
  #disclaimerModal.modal.fade.AreYouSure(tabindex='-1', role='dialog', aria-labelledby='Disclaimer', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header.h1
          .row
            .col-auto
              #theMessage
          
        .modal-body
          h5 Please hand this tablet back to the receptionist, so they can check the form.
        .modal-footer
          .row
            .col
              img(src='logo.png', alt='')
            .col.align-self-end
              a.btn.btn-success.btn-xl.submit-btn(href='#', data-dismiss='modal', aria-label='Close') Close
