extends layout

block content
	script(src='/javascripts/wwa.js')
	
	br
	#WWADetails
		form#addFacilitator.container-fluid.SessionDetails(name="addFacilitator", method="post", onlcick="addFacilitator()")
			.input-group
				span#Facilitator.col-2.input-group-addon Facilitator
				input#FacilitatorsName.form-control.col-4(type='text', placeholder='Name', aria-label='Facilitator Name', aria-describedby='sizing-addon2')
				
				select#SessionClimbingType.custom-select
					option(selected='', value='Choose') Session Type...
					option(value='Bouldering') Top-Roping
					option(value='Bouldering') Bouldering
				
				#SessionStartChoices  
				//Choose Dynamically picked from SessionClimbingType
					
				button#submit.btn.btn-primary(type='submit' value='Start Session') Start Sessions
				
	form#ShowParticipants.container-fluid(name="addFacilitator", method="post", onlcick="SaveParticipants()")
		#ShowParticipants
			
	
		
	
		


			
