.side-bar-header {
  font-weight: normal;
  margin-top:10px;
  font-size: 18px;
}

.vistor-info {
  background-color: #cfe0e8;
  color: black;
  position: fixed;
  height: 100%;
  padding: 5px;
  margin-top: 10px;
  top: 55px;
}

.visitor-list {
  margin-top: 0px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 300;
  top: 52px;
}

.visitor-detail {
  font-size: 18px;
  font-weight: 200;
}

.visitor-title {
  padding: 5px;
  width: 100%;
  font-size: 30px;
  font-weight: normal;
  background-color: #b7d7e8;
  color: black;
}

  .side-bar-header {
    color: black;
  }

tbody {
  padding-right: 10px;
  color: #00B7FF;
}

th {
  color: black;
  display: table-cell;
  vertical-align: inherit;
  font-weight: normal;
  text-align: left;
}

tbody {
  color: #555;
}

a {
  padding-right: 10px;
  color: black;
}

.forms, .button.btn.btn-primary.btn-block {
  font-size: 300%;
}

.forms {
  font-size: 300%;
}

.navbar img {
  height: 100%;
}

.navbar-logo {
    float: left;
    height: 50px;
    padding: 0 30px 0 15px;
    font-size: 18px;
    line-height: 20px;
}

.header {
    position: fixed;
    margin-top: 0px;
    left: 0;
    top: 55px;
    text-align: center;
}

#successAlert {
    font-size: 150%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    z-index: 5000;
}

 .big-checkbox {width: 30px; height: 30px;}
