@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');

html {
  height:100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.love-ya{
  font-family: 'Love Ya Like A Sister';

}

body {
  font: sans-serif;
  background: url(castlelogo.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input.big-checkbox[type=checkbox] {
    -webkit-transform: scale(2,2);
}

	.navbar{
  padding: 0px 10px 0px 10px;
}
  .bg-dark {
  background-color: black;
}

img {
padding: 0px 10px 0px 0px;

}
.navbar-text.kiosk {
  padding: 0px 10px 0px 10px;
}
.nav-link.fas.fa-home {
  color: white;
  margin: 0px 0px 0px 10px;
  padding: 5px 5px 5px 5px;
}
