@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');

html {
   height:100%;
}

body {
  font: ans-serif;
  background: url(castlelogo.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hidetext { -webkit-text-security: disc; /* Default */ }

.modal-title {
  text-align: center;
}

td.innerTable {
  padding: 0;
}

.nopadding {
   padding: 0 !important;
}
.nomargin {
   margin: 0 !important;
}

.card-img-top-{

  height: inherit;
  background: url(/loading.gif) 50% no-repeat;
  border-radius: 5px;
}

.btn-huge{
    padding-top:20px;
    padding-bottom:20px;

      background-color: white;

}

/* .side-bar-header {
  font-weight: normal;
  margin-top:10px;
  font-size: 18px;
}

.vistor-info {
  background-color: #cfe0e8;
  color: black;
  position: fixed;
  height: 100%;
  padding: 5px;
  margin-top: 10px;
  top: 55px;
}

.visitor-detail {
  font-size: 18px;
  font-weight: 200;
}

.visitor-title {
  padding: 5px;
  width: 100%;
  font-size: 30px;
  font-weight: normal;
  background-color: #b7d7e8;
  color: black;
}

  .side-bar-header {
    color: black;
  }

  .table td div.form-group {
   margin-bottom: 0rem;
  } */

/* tbody {
  padding-right: 10px;
  color: #00B7FF;
}

th {
  color: black;
  display: table-cell;
  vertical-align: inherit;
  font-weight: normal;
  text-align: left;
}

tbody {
  color: #555;
}

*/

a {
  color: black;
}

.forms, .button.btn.btn-primary.btn-block {
  font-size: 300%;
}

.forms {
  font-size: 300%;
}

.navbar img {
  height: 100%;
}

.navbar-logo {
    float: left;
    height: 50px;
    padding: 0 30px 0 15px;
    font-size: 18px;
    line-height: 20px;
}

.header {
    position: fixed;
    margin-top: 0px;
    left: 0;
    top: 55px;
    text-align: center;
}

#failAlert {
    z-index: 9999;
    font-size: 150%;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 25%;
}

#successAlert {
    z-index: 9999;
    font-size: 150%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
}

input.big-checkbox[type=checkbox] {
    -webkit-transform: scale(2,2);
}


 #container span {
    background-color: #ff6;
}

body {
  background-color: #FaFaFa;
}

#welcomeFormRow {
  font-size: 150%;
  margin-bottom: 10px;
}

.navbar {
  padding: 0px;
  margin: 0px;
}

.navbar img {
  padding: 0px;
  margin: 0px 10px 0px 10px;
}

#GDPR {
  height:60px;   /* Height of the footer */
  background:#FcFcFc;
  font-size: 80%;
  margin-top: 10px;
}

/* ---- */



.love-ya{
  font-family: 'Love Ya Like A Sister';

}



.form-control{
  width:100%;
  height:50px;
  border:none;
  padding:5px 7px 5px 15px;
  background:#fff;
  color:#666;
  border:2px solid #ddd;
  @include border-radius(4px);
    &:focus, &:focus + .fa{
      border-color:#10CE88;
      color:#10CE88;
    }
}
.form-group .fa{
  position: absolute;
  right:15px;
  top:17px;
  color:#999;
}
.log-status.wrong-entry {
 @include animation( wrong-log 0.3s);
}
.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}
.log-btn{
  background:#0AC986;
  dispaly:inline-block;
  width:100%;
  font-size:16px;
  height:50px;
  color:#fff;
  text-decoration:none;
  border:none;
  @include border-radius(4px);
}

.link{
  text-decoration:none;
  color:#C6C6C6;
  float:right;
  font-size:12px;
  margin-bottom:15px;
  &:hover{
    text-decoration: underline;
    color:#8C918F;
  }
}
.alert{
  display:none;
  font-size:12px;
  color:#f00;
  float:left;
}
@include keyframes (wrong-log) {
  0%, 100% { left: 0px;}
  20% , 60%{left: 15px;}
  40% , 80%{left: -15px;}
}
