.side-bar-header {
  font-weight: normal;
  margin-top:10px;
  font-size: 18px;
}

.vistor-info {
  background-color: #cfe0e8;
  color: black;
  position: fixed;
  height: 100%;
  padding: 5px;
  margin-top: 10px;
  top: 52px;
}

.visitor-list {
  margin-top: 0px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 300;
}

.visitor-detail {
  font-size: 18px;
  font-weight: 200;
}

.visitor-title {
  padding: 5px;
  width: 100%;
  font-size: 30px;
  font-weight: normal;
  background-color: #b7d7e8;
  color: black;
}

  .side-bar-header {
    color: black;
  }

tbody {
  color: #00B7FF;
}

th {
  color: #666;
  display: table-cell;
  vertical-align: inherit;
  font-weight: normal;
  text-align: left;
}

tbody {
  color: #555;
}

a {
  color: black;
}
